[submodule "Submodules/LEGO-HuskyLenslib"]
	path = Submodules/LEGO-HuskyLenslib
	url = https://github.com/antonvh/LEGO-HuskyLenslib
[submodule "Submodules/UartRemote"]
	path = Submodules/UartRemote
	url = https://github.com/antonvh/UartRemote
[submodule "Submodules/SerialTalk"]
	path = Submodules/SerialTalk
	url = https://github.com/antonvh/SerialTalk
