[submodule "Submodules/UartRemote"]
	path = Submodules/UartRemote
	url = https://github.com/antonvh/UartRemote
[submodule "Submodules/SerialTalk"]
	path = Submodules/SerialTalk
	url = https://github.com/antonvh/SerialTalk
[submodule "Submodules/btbricks"]
	path = Submodules/btbricks
	url = https://github.com/antonvh/btbricks
