[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rshell = "*"
pytest = "*"
mpy-cross-v5 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
create = "python3 Installer/create_install_script.py"
